/* PLATAFORMA DE ADQUISICIONES
    Archivo Maestro de Estilos
*/

@import 'variables.css';
@import 'base.css';
@import 'layout.css';
@import 'components.css';
@import 'forms.css';

/* Aquí puedes agregar estilos temporales o muy específicos que no merecen su propio archivo aun */